@model TravelApp.Contracts.DTO.CountryDto
    @{
        ViewBag.Title = "Edit";
    }

    <h2>Edytuj</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Nazwa kraju
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </p>

    <input type="submit" value="Zapisz" />
}