@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", area = "", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.RouteLink("Wyloguj się", "Default",new { action = "LogOff", controller = "Account" })
        </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id = "registerLink" href="/Account/Register">Rejestracja</a></li>
        <li><a id = "loginLink" href="/Account/Login">Logowanie</a></li>
         </ul>
}
